@page
@model WebApp.Pages.TicketsModel
@{
    <script src="~/js/pages-controllers/TicketViewController.js"></script>
}
<h1>Mantenimiento de Tiquetes</h1>
<div class="bs-docs-section">
    <div class="row">
        <legend>Listado de tiquetes</legend>
        <div class="col-lg-12">
            <table id="tblTickets" class="display" style="width:100%">
                <tr>
                    <th>Id</th>
                    <th>Price</th>
                    <th>Schedule</th>
                    <th>Date</th>
                    <th>Type</th>
                    <th>MovieId</th>
                    <th>Status</th>
                    <th>Created</th>
                </tr>
            </table>
        </div>
    </div>
</div>